
.tab{
	position: absolute;
	overflow: hidden;
	border: 1px solid #b22;
	background-color: lightgrey;
	color: white;
	height: 20px;
	width: 65%;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}