* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  background: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  transform: translateX(-600px);
  animation: x-axis 6s infinite linear;
}
.wrapper {
  transform: translateY(-200px);
  animation: y-axis 1s infinite cubic-bezier(.73,0,.33,1);
}

@keyframes x-axis {
  50% {
    transform: translateX(600px);
  }
}
@keyframes y-axis {
  50% {
    transform: translateY(200px);
  }
}


